/* Style for the map container */
.map-container {
  height: 800px;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.Title {
  font-size: 35px;
  text-align: center;
  background-color: rgb(144, 180, 252);
  padding: auto;
}